.newProjectMainDiv {
  width: 80%;
  margin: 5% auto;
  padding: 2rem;
  background-color: white;
}
.tablist {
  padding: 2rem;
}

/* .radioBtn{
    margin-right: 10rem;
} */
.ck-content > p {
  height: "800px" !important;
  max-height: "800px" !important;
}
.css-1wtl4zg-MuiGrid-root > .MuiGrid-item {
  padding-left: 16px;
  margin-top: 1rem;
}
@media (min-width: 1536px) {
  .css-1equabv-MuiGrid-root {
    margin-right: 1rem !important;
  }
}
.css-1kuc5br-MuiGrid-root > .MuiGrid-item {
  margin-top: 2rem !important;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin-top: 2rem !important;
}
#demo-simple-select-label {
  margin-top: 2rem !important;
}

.css-1ycu4n6-MuiGrid-root > .MuiGrid-item{
  margin-top: 1rem;
}


/* Slider CSS */

/* .MuiSlider-root {
  width: 100%;

  margin-top: 1rem;
}

.MuiSlider-thumb {
  width: 20px;

  height: 20px;

  background-color: #fff;

  border: 2px solid #000;

  box-shadow: none;

  margin-top: -8px;

  margin-left: -12px;
}

.MuiSlider-rail {
  height: 8px;

  border-radius: 4px;

  background-color: #e0e0e0;
}

.MuiSlider-track {
  height: 8px;

  border-radius: 4px;

  background-color: #000;
}

.MuiSlider-valueLabel {
  font-size: 1rem;

  background-color: #000;

  color: #fff;

  border-radius: 4px;

  padding: 4px 8px;

  margin-top: -12px;

  margin-left: -12px;
} */
