@import "compass/css3";

* { box-sizing: border-box; margin: 0; padding:0; }
iframe
{
    display: none;
}
/* body{
  background-color: #F1F1EC;
} */

/* Navbar CSS Start */

.header_wrapper .navbar{
   /* padding-top: 3rem;  */
  z-index: 10;
  margin-bottom: 1rem;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
  box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
 }
 
 .header_wrapper .navbar-brand img{
      max-width: 120px;
      height: auto;
 
 }
 
 .header_wrapper .navbar-toggler{
 border: 0px;
 height: auto;
 color: gray;
 line-height: 2;
 
 }
 
 .header_wrapper .navbar-toggler:focus {
  box-shadow: none ;
 }
 .header_wrapper .nav-item {
 margin: 0 10px;
 }
 .header_wrapper .nav-item .nav-link {
 position: relative;
 font-size: 16px;
 font-weight: 500;
 color: var(--text-gray);
 }
 
 @media(max-width:768px) {
   .header_wrapper .nav-item .nav-link {
     text-align: center;
  
   }  
 }
 
 @media(max-width:991px) {
   .header_wrapper .nav-item .nav-link {
     text-align: center;
  
   }  
 }
 
 .header_wrapper .nav-item .nav-link::after{
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background:blue;
  transition: 0.3s;
  bottom: 0;
 }
 .header_wrapper .nav-item .nav-link.active::after,
 .header_wrapper .nav-item .nav-link:hover::after{
 width: 100%;
 }
 
 .header_wrapper .nav-item .nav-link.active,
 .header_wrapper .nav-item .nav-link:hover{
      color: blue;
 }
 
 /* .header-scrolled{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
  box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
 } */
 
 .header-scrolled .nav-item .nav-link.active,
 .header-scrolled .nav-item .nav-link:hover{
 color:blue;
 }

/* Navbar CSS Ends */

html {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
  
  .login-wrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    
    h2 {
      text-align: center;
      font-weight: 200;
      font-size: 2em;
      margin-top: 10px;
      color: #34495e;
    }
    
    .form {
      padding-top: 20px;
      
      input[type="text"],
      input[type="password"],
      button {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
        height: 40px;
        border-radius: 5px;
        outline: 0;
        -moz-outline-style: none;
      }
      
      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbb;
        padding: 0 0 0 10px;
        font-size: 14px;
        &:focus {
          border: 1px solid #3498db;
        }
      }
      
      NavLink{
        text-align: center;
        font-size: 10px;
        color: #3498db;
        
        p{
          padding-bottom: 10px;
        }
        
      }
      
      button {
        background: #e74c3c;
        border:none;
        color: white;
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
        transition: box-shadow .4s ease;
        
        &:hover {
          box-shadow: 1px 1px 5px #555;  
        }
          
        &:active {
            box-shadow: 1px 1px 7px #222;  
        }
        
      }
      
    }
    
    &:after{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;    
    background:-webkit-linear-gradient(left,               
        #27ae60 0%, #27ae60 20%, 
        #8e44ad 20%, #8e44ad 40%,
        #3498db 40%, #3498db 60%,
        #e74c3c 60%, #e74c3c 80%,
        #f1c40f 80%, #f1c40f 100%
        );
       background:-moz-linear-gradient(left,               
        #27ae60 0%, #27ae60 20%, 
        #8e44ad 20%, #8e44ad 40%,
        #3498db 40%, #3498db 60%,
        #e74c3c 60%, #e74c3c 80%,
        #f1c40f 80%, #f1c40f 100%
        );
      height: 5px;
      border-radius: 5px 5px 0 0;
  }
    
  }
  
}